In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('titanic_train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
data.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
data.dropna(axis=0, inplace=True)

In [6]:
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [7]:
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})

In [8]:
data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    0  35.0      0      0   8.0500

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Sex          714 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        714 non-null    int64
 6   Parch        714 non-null    int64
 7   Fare         714 non-null    float64
dtypes: float64(2), int64(6)
memory usage: 50.2 KB

In [10]:
y = data['Survived']

In [11]:
y.info()

<class 'pandas.core.series.Series'>
Int64Index: 714 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
714 non-null    int64
dtypes: int64(1)
memory usage: 11.2 KB

In [12]:
x = data.drop(['Survived'], axis=1)

In [13]:
x.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    0  22.0      1      0   7.2500
1            2       1    1  38.0      1      0  71.2833
2            3       3    1  26.0      0      0   7.9250
3            4       1    1  35.0      1      0  53.1000
4            5       3    0  35.0      0      0   8.0500

In [14]:
x.shape, y.shape

((714, 7), (714,))

In [15]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.3, random_state=17)

In [16]:
x_train.shape, x_valid.shape

((499, 7), (215, 7))

In [17]:
tree_model = DecisionTreeClassifier(random_state=17)

In [18]:
cross_val_score(tree_model, x_train, y_train, cv=5)

array([0.72      , 0.72      , 0.69      , 0.67      , 0.73737374])

In [19]:
from sklearn.model_selection import GridSearchCV

In [20]:
tree_params = {'max_depth': range(1, 11), 'max_features': [0.5, 0.7, 1]}

In [21]:
tree_grid = GridSearchCV(tree_model, tree_params, cv=5, n_jobs=-1)

In [22]:
tree_grid.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(random_state=17), n_jobs=-1,
             param_grid={'max_depth': range(1, 11),
                         'max_features': [0.5, 0.7, 1]})

tree_grid.best_score_

In [23]:
tree_grid.best_score_

0.8095757575757576

In [24]:
tree_grid.best_params_

{'max_depth': 5, 'max_features': 0.5}

In [25]:
tree_valid_res = tree_grid.predict(x_valid)

In [26]:
tree_valid_res

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [27]:
y_valid

789    0
416    1
797    1
886    0
143    0
      ..
7      0
438    0
668    0
13     0
749    0
Name: Survived, Length: 215, dtype: int64

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_valid, tree_valid_res)

0.8232558139534883